Source: glclib
Maintainer: Alon Levy <alon.levy@bladeranger.com>
Section: misc
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9)

Package: glclib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GLC Library
 Library at core of GLC player
